* {
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: #CCC;
}

section {
    margin-top: 5rem;
    
}

section h1 {
    font-size: 30px;
}

section img {
    margin: 30px;
    width: 300px;
    border: none;
    border-radius: 5px;
    box-shadow: 14px 14px 0px rgb(105, 101, 94);
}

section button {
    background-color: white;
    font-size: 30px;
    margin: 15px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    box-shadow: 14px 14px 0px rgb(105, 101, 94);
    cursor: pointer;
}

